<div class="sidenav-header">
    <img [width]="profilePicSize()" [height]="profilePicSize()" src="/assets/coelho.jpg" alt="">
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
        <h2>Your channel</h2>
        <p>Ciel</p>
    </div>
</div>
<mat-nav-list>
    <!--Para cada item da lista, o routerLink irá receber o que está no route do item e redirecionar para o componente correspondente-->
    <a mat-list-item *ngFor="let item of menuItems()" [routerLink]="item.route" 
    routerLinkActive
    #rla="routerLinkActive"
    [activated]="rla.isActive">
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
        <span matListItemTitle *ngIf="!sideNavCollapsed()">{{ item.label }}</span>
    </a>
</mat-nav-list>